*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'DM Sans', sans-serif;
}

li
{
    list-style: none;
}

a{
    text-decoration: none;
}

.hamburger
{
    display: none;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: #101010;
}

header
{
    padding: 1em 0;
    text-align: center;
}

.container
{
    max-width: 972px;
    width: 80%;
    margin: 0 auto;
}

nav
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo
{
    width: 120px;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 31.25px;
    letter-spacing: -0.29px;
    color: #1E0E62;
}

.nav-menu {
    display: flex;
}

.nav-menu--primary{
    margin: 0 auto;
}

.row
{
    display: flex;
    justify-content: space-between;
}

.col
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-item + .nav-item
{
    margin-left: 2em;
}

.nav-link
{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #15143966;
}

.log-in
{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #25DAC5;
}

.sign-up
{
    padding: .6em 1.6em;
    background-color: #25DAC5;
    color: #fff;
    border-radius: 100px;
}

.header-section
{
    max-width: 714px;
    width: 100%;
    padding: 60px 0;
    margin: 0 auto;
}

.heading
{
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    letter-spacing: -1px;
    text-align: center;
    color: #1E0E62;
}

.lead
{
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: #15143966;
}

.create-account
{
    width: 268px;
    height: 60px;
    margin: 0 auto;
    margin-top: 2em;

    border: none;
    background-color: #E93A7D;
    border-radius: 100px;
    color: #fff;
    font-size: 20px;
    line-height: 26px;
}

.item{
    text-align: center;
    width: 30%;
}

.item p
{
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #15143966;
}

img
{
    max-width: 100%;
}

@media (max-width: 800px)
{
    .logo
    {
        width: 200px;
    }
    header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
    }
    
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 4rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item{
        margin: 2rem 0;
    }

    .nav-item + .nav-item
    {
        margin-left: 0;
    }

    .hamburger
    {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .items .row
    {
        min-height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .items
    {
        width: 100%;
    }

    .item
    {
        width: 100%;
    }

    .item
    {
        margin: 0 auto;
    }

    .vr {
        display: none;
    }
}